@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<body>
    <div class="container">
        
        <p>Welcome to Agri-Energy Connect. We are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy explains how we collect, use, and share information when you use our web platform ("Platform"). By accessing or using the Platform, you agree to this Privacy Policy.</p>

        <div class="text-center">
            <h3>Information We Collect</h3>
            <p>We collect information to provide and improve our services. The types of information we collect include:</p>
            <h4>1. Personal Information:</h4>
            <p><strong>Registration Information:</strong> When you create an account, we collect your name, email address, and password.
               <strong>Profile Information:</strong> You may choose to provide additional information such as your location, expertise, and interests.</p>

            <h4>2. Usage Data:</h4>
            <p>We collect information about your interactions with the Platform, including pages visited, features used, and the time spent on the Platform.</p>

            <h4>3. Transaction Data:</h4>
            <p>When you purchase or sell products through the Green Energy Marketplace, we collect transaction details, including payment information.</p>

            <h4>4. Communication Data:</h4>
            <p>We collect information from your communications with us, including emails and messages sent through the Platform.</p>
        </div>


       
    </div>
</body>
</html>
